@import '../vars';

.AccountFrame {
  background-color: $gray-2;
  grid-template-columns: 280px minmax(0, 1fr);
  display: grid;
  overflow: hidden;
  position: relative;

  width: 100%;
  height: 100%;
}
