@import '../../vars';

.AccountCreateModal {
  position: absolute;
  top: 50%;
  left: 50%;
	width: 500px;
	height: auto;
  
	display: block;
  // overflow: hidden;
  transform: translate(-50%, -50%);
	box-sizing: content-box;

  color: #fff;
  padding: 8px 16px;
	border-radius: 8px;
  background-color: $gray-3;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1), 0px 4px 32px 0px rgba(0, 0, 0, 0.1);

  transition: height 0.2s;

  & > h1 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 2px;
    font-family: 'Montserrat SemiBold', $header-font-family;
    font-weight: 600;
    font-size: 28px;
    padding: 0px;
    opacity: 0.9;
		user-select: none;
  }

  & > p {
    margin: 0;
    margin-bottom: 8px;
    font-family: $body-font-family;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;
		user-select: none;
  }
}

.AccountCreateModal-error {
  display: block;
  padding: 8px;

  background-color: #4c212c;
  border: 2px solid #e85b63;
  border-radius: 4px;
  color: #ffc6c6;
}
